# C-style formatting options for clang-format made based on:
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: Mozilla
IndentWidth: 4
Language: C

AlignAfterOpenBracket: false
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
AlignConsecutiveBitFields:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
AlignConsecutiveShortCaseStatements:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
    AlignCaseArrows: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AlignTrailingComments:
    TrailingCommentsAlignmentKinds: Always
    OverEmptyLines: 1
    MaxEmptyLinesToKeep: 2
    AlignPPAndNotPP: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
AttributeMacros: [
    __unused__, 
    __maybe_unused__
]
BinPackArguments: false
BinPackLongBracedList: true
BinPackParameters: OnePerLine
BitFieldColonSpacing: Both
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: false
    AfterControlStatement: Never
    AfterEnum: true
    AfterFunction: false
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: true
    BeforeElse: false
    BeforeWhile: false
    IndentBraces: false
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
BracedInitializerIndentWidth: 4
BreakAdjacentStringLiterals: true
BreakAfterAttributes: Never
BreakAfterOpenBracketBracedList: false
BreakAfterOpenBracketFunction: false
BreakAfterOpenBracketIf: false
BreakAfterOpenBracketLoop: false
BreakAfterOpenBracketSwitch: false
BreakAfterReturnType: ExceptShortType
BreakArrays: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: false
BreakBeforeCloseBracketIf: false
BreakBeforeCloseBracketLoop: false
BreakBeforeCloseBracketSwitch: false
BreakBeforeInlineASMColon: Always
BreakBeforeTernaryOperators: true
BreakBinaryOperations: Never
BreakFunctionDefinitionParameters: false
BreakStringLiterals: true
ColumnLimit: 120
ContinuationIndentWidth: 4
DerivePointerAlignment: false
EnumTrailingComma: Remove
ExperimentalAutoDetectBinPacking: false
IncludeBlocks: Preserve
IndentCaseBlocks: true
IndentCaseLabels: false
IndentExportBlock: true
IndentExternBlock: Indent
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
IndentWidth: 4
IndentWrappedFunctionNames: true
InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: None
IntegerLiteralSeparator: # -1 removes separators
    Binary: -1
    Decimal: -1
    Hex: -1
KeepEmptyLines:
    AtEndOfFile: false
    AtStartOfBlock: false
    AtStartOfFile: false
LineEnding: LF
MainIncludeChar: Quote
MaxEmptyLinesToKeep: 1
NumericLiteralCase:
    ExponentLetter: Lower
    HexDigit: Upper
    Prefix: Lower
    Suffix: Lower
PPIndentWidth: 4
PointerAlignment: Left
QualifierAlignment: Leave
QualifierOrder: [
    static,
    inline,
    volatile,
    const,
    type
]
ReflowComments: Always
RemoveBracesLLVM: false
RemoveEmptyLinesInUnwrappedLines: true
RemoveParentheses: Leave
RemoveSemicolon: false
SeparateDefinitionBlocks: Always
SortIncludes:
    Enabled: true
    IgnoreCase: true
    IgnoreExtension: true
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens:
    AfterControlStatements: true
    AfterForeachMacros: false
    AfterFunctionDeclarationName: false
    AfterFunctionDefinitionName: false
    AfterIfMacros: false
    AfterNot: false
    BeforeNonEmptyParentheses: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBraces: Never
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 3
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
    Maximum: 1
    Minimum: 1
SpacesInParens: Custom
SpacesInParensOptions:
    ExceptDoubleParentheses: true
    InConditionalStatements: false
    InCStyleCasts: false
    InEmptyParentheses: false
    Other: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: Never
